<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="${hello}"></p>
<hr>
<p> Name: Muhammad Sulthan Rafi </p>
<p> Birthdate: 12 July 1998 </p>
<p> Birthplace: Jakarta </p>
<p> Address: Deppen </p>
<p> <-- Education --> </p>
<p> Elementary School: ABC Kids Cibubur </p>
<p> Junior High School: SMP N 49 Jakarta </p>
<p> Senior High School: SMA N 39 Jakarta </p>
<p> College: University of Indonesia </p>
<p> <-- About Me --> </p>
<p> My hobby is playing game and upload it on Youtube </p>

</body>
</html>